<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net452" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls.WebView" version="6.0.1" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
</packages>